.container-Activity{
    border-radius: 1rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 15px;
}
.container-Activity label {
    text-align: center;
    color: #333;
    font-style: initial;
}
.container-Activity input {
    padding : 5px;
    border-color: whitesmoke;
}
.container-Activity button {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin: 15px;
    color: #fff;
    background-color: #010530;
}