.filterDiv {
    float: left;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}
.btn-a h4 {
    color: black;
    font-size:18px;

}

.title-a{
    display:flex;
    margin: 30px 40px 0 25px;
}
hr {
    margin: 0 0 5px 20px;
}
.btn-a {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
}

.btn-a:hover {
    background-color: #ddd;
}
.btn-add{
    border-radius: 80px;
    border-color: whitesmoke;
    outline: none;
    margin-left:15px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;

}

.btn-add:hover {
    background-color: #ddd;
}
.btn-a1{
    margin-left:20px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
}

.btn-a1 h4 {
    color: black;
    font-size:18px;
}