.nav{
    justify-content: space-between;
    width: 100%;
    height:20px;
    padding:20px;
    background-color: #010530;
}


.name{
    color: whitesmoke;
    margin-left:30px;
    font-size: 17px;
    padding: 20px 0;
}
.btn-salir{
    margin-left:85%;
    border-radius: 1rem;
    padding: 10px 40px;
    border: none;
    cursor: pointer;

}
.btn-salir:hover{
    opacity: 0.9;
}