.p-title{
    margin-top: 50px;
    margin-left: 20px;
}
.flag{
    width:50px;
    height:50px;
    margin-left:20px;
}
hr{
    margin-left: 20px;
}

.flag {
    width: 100px;
    height: 40px;
}


.card {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card h3 {
    align-items: center;
}

.btn-country {
    border: none;
    background-color: white;
}