.login-container {
    margin: 350px;
}

.login-form-1 {
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 15px;
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
    font-style: initial;
}
.login-container form {
    padding: 10%;
    text-align: center;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin: 15px;
}

.login-form-1 .btnSubmit {
    color: #fff;
    background-color: #010530;
}

input {
    border-color: darkgray;
    padding: 1.5%;
    margin: 5px;
}